@import 'colors';
@import '../node_modules/@fortawesome/fontawesome-free/css/all.css';

html {
  font-size: 62.5%; /*nastaveno na 10px, defaultne na 16px*/
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-size: 1.6rem;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Ubuntu', sans-serif;
}

/*header.header-news {
  & > button {
    position: absolute;
    border: none;
    border-radius: 0;
    background-color: transparent;
    color: rgba($black, 0.4);
    cursor: pointer;
    user-select: none;
    transition: 0.5s;
    height: 100%;
    top: 0;
    &:focus {
      outline: none;
    }
    &:hover {
      color: $black;
      background-color: rgba($white, 0.4);
    }
    &.last {
      right: 0;
    }
  }
  & > div.header-news__container {
    display: flex;
  }
  position: relative;
  min-height: 18rem;
}

header.header-news > div {
  flex: 1 0 0;
}*/

section.main-content {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding-left: 1rem;
}

/*.main-content_day {
  aspect-ratio: 1/1;
  width: calc(100% / 7 - 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.5s;
}*/

/*.main-content_day:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

section.main-content {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}*/

section.modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparentize($black, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-body {
  min-width: 35rem;
  background-color: $white;
  border-radius: 0.5rem;
  box-shadow: 0.5rem 0.5rem 1rem transparentize($black, 0.7);
  padding: 1rem;
}

.modal-separator {
  min-height: 1px;
  content: ' ';
  border-bottom: 1px solid transparentize($black, 0.7);
  margin: 1rem 0;
}

.modal-actions {
  padding-top: 1rem;
}

.modal-header {
  display: flex;
  & > *:first-child {
    flex: 1 0 0;
  }
}

#modal-form {
  & .row {
    display: flex;
    padding: 8px 0;
    justify-content: space-between;
    position: relative;
    &::after {
      content: ' ';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      border-bottom: 1px solid $light-dark;
    }
  }
  display: flex;
  flex-direction: column;
}
.hidden {
  display: none !important;
}

.popupModal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.popupContent {
  background-color: #f4f4f4;
  padding: 20px;
  margin: 20% auto;
  width: 70%;
  border-radius: 10%;
}
